@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
}
html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #FFF3E3;
  color: #343434;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

/* #ED9B8F,
#4E846A,
#FF5541,
#FFF3E3 */

.App {
  padding: 2rem;
  background-color: rgba(255, 0, 0, 0);
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .App {
    font-size: 13px;
  }
}
@media screen and (min-width: 1900px) {
  .App {
    font-size: 26px;
  }
}
@media screen and (min-width: 900px) {
  .App {
    padding: 4rem;
  }
}


::-moz-selection {
  	background: #ED9B8F;
    color: #FFF3E3;
    text-shadow: none;
}
  
::selection {
  	background: #ED9B8F;
    color: #FFF3E3;
    text-shadow: none;
}
h1{
  margin: 2rem 0;
  margin-bottom: 2rem;
  font-size: 12em;
  color: #343434;
  text-shadow: 4px 3px 0px #ED9B8F;
  text-align: center;
  z-index: 4;
  position: relative;
  cursor: pointer;
}
h1:hover{
  animation: blink 3s infinite;
}

@keyframes blink {
  0%,20%{
      text-shadow: 4px 3px 0px #ED9B8F;
  }
  20%,60%{
      text-shadow: 14px 6px 0px #ED9B8F;
  }
  60%,100%{
      text-shadow: 4px 3px 0px #ED9B8F;
  }
}

span.h1-opac1, span.h1-opac2 {
  display: none;
}
@media screen and (min-width: 900px) {
span.h1-opac1{
  position: absolute;
  top: -10px;
  left: 10px;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
  display: block;
}
span.h1-opac2 {
  position: absolute;
  top: -5px;
  left: 10px;
  opacity: 0.1;
  z-index: -2;
  pointer-events: none;
  display: block;
}
}


h2, h3, p, ul, span, hr{
  margin: 1rem 0;
  text-decoration: none;
  list-style: none;
}

hr{
  border: 1px solid #343434;
  width: 80%;
}

/*NAV*/
nav .logo{
  background: #ED9B8F;
  color: #ffffff;
  width: max-content;
  padding: 1rem;
}
@media screen and (max-width: 900px) {
  nav .logo{
    margin: 0 auto;
  }
}

/*APP*/
.Header-section {
  margin: 8rem 0;
}
@media screen and (min-width: 900px) {
.Header-section{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: translateX(4rem);
}
nav{transform: translateX(4rem);}
.Header-section > * {
  width: 50%;
}
h1{
  text-align: left;
}
}

/*SVG PLAYER*/
.Player{
    max-width: 750px;
    height: auto;
    resize: both;
    margin: 2rem 0;
    margin-top: 4rem;
    transform: rotate(-90deg);
}
@media screen and (max-width: 900px) {
  .Player{
    margin-top: 6rem;
  }
}
.Player svg{
  width: 95%;
  height: 95%;
  transition: transform 250ms;
  pointer-events: none;
    filter:drop-shadow(6px 6px 0px rgba(72, 16, 16, 0.6))
}

.Player path{
  pointer-events:auto;
}


svg #play-song-btn, #prev-song-btn, #next-song-btn, #on-off-btn{
    cursor: pointer;
    transition: all 400ms;
}
svg #play-song-btn:hover,
svg #prev-song-btn:hover,
svg #next-song-btn:hover{
  fill: red;
}

#on-off-btn path:hover {
  transform: translateY(5px);
}

/* .musicWrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 1024px) {
  .musicWrap{
    gap: 0;
  }
}

.music{
    max-width: 100%;
    width: 325px;
    height: 400px;
    background: white;
    border-radius: 16px;
    transition: all 200ms;
    padding: 1.5rem;
}
@media screen and (max-width: 1070px) {
  .music{
    transform: scale(0.85);
    margin: 0 auto;
  }
}

svg{
  max-width: 650px;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}


@media screen and (max-width: 599px) {
  svg {
    width: 100%;
  }
}
@media screen and (min-width: 2000px) {
  svg{
    transform: scale(1.5);
    bottom: 2vh;
  }
} */
